/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require redactor-rails
 *= require_tree .
 */
@import "bootstrap";
.css1 { font-size: 1.0em; padding: 5px; float:left; }
.css2 { font-size: 1.2em; padding: 5px; float:left; }
.css3 { font-size: 1.4em; padding: 5px; float:left; }
.css4 { font-size: 1.6em; padding: 5px; float:left; }
body {
  background-color: #009999;
}
.main {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}
.post {
	overflow: hidden;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tag_cloud {
  line-height: 1.6em;
}